.customLabel {
  width: 100%;
  margin: 0.5rem 0;
  text-align: left;
  color: var(--PRIMARY-COLOR);
  font-family: var(--FONT-SEMIBOLD);
}

.containerInput {
  position: relative;
  margin: 0 0 1rem 0;
}

.customTextArea,
.customSelect,
.customInput {
  width: 100%;
  border: none;
  outline: none;
  user-select: none;
  padding: 8px 40px;
  text-align: center;
  border-radius: 20px;
  color: var(--PRIMARY-COLOR);
  font-family: var(--FONT-SEMIBOLD);
  border: 1px solid var(--PRIMARY-COLOR);
}

.customTextArea::placeholder,
.customInput::placeholder {
  opacity: 0.7;
  color: var(--PRIMARY-COLOR);
  font-family: var(--FONT-MEDIUM);
}

.customTextArea {
  border-radius: 7px;
  text-align: initial;
}

.customSelect {
  padding: 8px 5px;
}

option {
  margin: 0;
  padding: 0;
}

.icon {
  top: 50%;
  left: 15px;
  font-size: 1.3rem;
  position: absolute;
  transform: translateY(-50%);
}

.customTextArea:disabled,
.customInput:disabled {
  border: none;
}
