.containerForm {
  border-radius: 7px;
  padding: 0.5rem 1rem;
  background: var(--COLOR-ACCENT-GOLD);
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.label {
  margin-right: 1rem;
  color: var(--PRIMARY-COLOR);
  font-family: var(--FONT-BOLD);
}

.input {
  outline: none;
  padding: 0 0.5rem;
  border-radius: 5px;
  font-family: var(--FONT-LIGHT);
  border: 1px solid var(--PRIMARY-COLOR);
}

.input[type="number"] {
  width: 90px;
  font-size: 16px;
}

.containerButtons {
  display: flex;
}

@media (max-width: 1100px) {
  .form {
    justify-content: space-between;
  }

  .label {
    margin: 0;
    width: 24%;
  }

  .input {
    width: 100%;
  }

  .input[type="number"] {
    width: 100%;
  }

  .containerButtons {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .label {
    width: 49%;
  }
}
