.iconsModal {
  top: 0;
  right: 0;
  margin: 3px;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.2rem;
  position: absolute;
  transition: transform 0.3s;
  color: var(--PRIMARY-COLOR);
}

.iconsModal:hover {
  color: white;
  border-radius: 7px;
  transform: scale(1.1);
  background: var(--SECONDARY-COLOR);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dataBooking {
  width: 35%;
  padding: 0 0.5rem;
  border-right: 1px solid var(--COLOR-SUPER-LIGHT);
}

.dataUsers {
  width: 64%;
  height: 100%;
  overflow: auto;
  padding: 0 0.5rem;
}

.user {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.containerData {
  width: 49%;
  padding: 0 0.5rem;
}

.label {
  margin: 0;
  font-size: 0.8rem;
  font-family: var(--FONT-BOLD);
}

.data {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-family: var(--FONT-Medium);
}

/* .containerData > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */

@media (max-width: 991px) {
  .dataBooking,
  .dataUsers {
    width: 50%;
  }

  .user {
    display: block;
  }

  .containerData {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .dataBooking,
  .dataUsers {
    width: 100%;
  }

  .dataBooking {
    border-right: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--COLOR-SUPER-LIGHT);
  }
}
