.main {
  display: grid;
  overflow: auto;
  padding: 0 2rem;
  align-content: center;
  height: calc(100vh - 122px);
  background: var(--COLOR-BACKGROUND);
}

.containerList {
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
  justify-content: center;
}
