.footer {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 0.5rem 4rem;
  background: var(--PRIMARY-COLOR);
}

.logo {
  margin: 0;
}

@media (max-width: 600px) {
  .footer {
    padding: 0.5rem;
    justify-content: center;
  }

  .logo {
    width: 100%;
  }

  .logo > img {
    width: 100%;
  }
}
