body {
  margin: 0;
  height: 100vh;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--COLOR-BACKGROUND) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  font-family: var(--FONT-LIGHT);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: var(--COLOR-GRAY-MEDIUM);
}

@font-face {
  font-family: "Quicksand-Bold";
  src: local("Quicksand-Bold"),
    url(./fonts/Quicksand/Quicksand-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Medium";
  src: local("Quicksand-Medium"),
    url(./fonts/Quicksand/Quicksand-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Light";
  src: local("Quicksand-Light"),
    url(./fonts/Quicksand/Quicksand-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: local("Quicksand-Regular"),
    url(./fonts/Quicksand/Quicksand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: local("Quicksand-SemiBold"),
    url(./fonts/Quicksand/Quicksand-SemiBold.ttf) format("truetype");
}

:root {
  --COLOR-TEXT: #666666;
  --COLOR-GRAY-DARK: #666666;
  --COLOR-SUPER-LIGHT: #eff2f5;
  --COLOR-GRAY-MEDIUM: #aaaaaa;
  --COLOR-DANGER: #d74a4a;
  --COLOR-WARNING: #ffd700;

  --PRIMARY-COLOR: #001f3f;
  --SECONDARY-COLOR: #3d9970;
  --COLOR-BACKGROUND: #f9f9f9;
  --COLOR-ACCENT-PINK: #d3a4a4;
  --COLOR-ACCENT-GOLD: #ffd700;

  --FONT-BOLD: "Quicksand-Bold";
  --FONT-LIGHT: "Quicksand-Light";
  --FONT-MEDIUM: "Quicksand-Medium";
  --FONT-REGULAR: "Quicksand-Regular";
  --FONT-SEMIBOLD: "Quicksand-SemiBold";
}
