.main {
  display: grid;
  overflow: auto;
  padding: 0 2rem;
  align-content: center;
  height: calc(100vh - 122px);
  background: var(--PRIMARY-COLOR);
}

.login {
  width: 40%;
  margin: auto;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 80px 5px #ddd;
}

.icon {
  font-size: 3rem;
  color: var(--SECONDARY-COLOR);
}

.login > h3 {
  color: var(--PRIMARY-COLOR);
  font-family: var(--FONT-MEDIUM);
}

.containerButton {
  width: 50%;
  margin: auto;
}

@media (max-width: 1024px) {
  .login {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .login {
    width: 65%;
    padding: 2rem 1rem;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 0 1rem;
    height: calc(100vh - 93px);
  }

  .login {
    width: 80%;
  }
}

@media (max-width: 478px) {
  .login {
    width: 100%;
  }

  .containerButton {
    width: 100%;
  }
}
